/* FAQ Section Container */
.faq-section {
	margin-top: 125px;
}

/* FAQ Title */
.faq-title {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 30px;
}

.faq-description {
  margin-bottom: 45px;
  color: black;
}


/* General Table Styling */
.faq-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
  text-align: left;
  font-size: 15px;  /* Content font-size */
}

.faq-table th,
.faq-table td {
  border: 1px solid #ddd;
  padding: 10px;
  color: black;
  
}

/* Table Header Row for Column Titles */
.faq-table thead tr:last-child th {
  font-size: 20px; /* Font-size for "Pertanyaan" & "Jawaban" columns */
}

/* Title Row (the row with Hotel/Venue/Contracted House) */
.faq-header {
  text-align: center;
  font-weight: bold;
  font-size: 27.5px;
  background: #008c46;
  color: white !important;
}